<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{view.index.title}">Настройки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/aim-add.css" rel="stylesheet" media="screen" th:href="@{/resources/css/aim-add.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <th:block th:if="${message != null}">
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <th:block th:if="${programmer.role == 'ROLE_UNACTIVE'}">
        <div th:fragment="alert (type, message)" class="alert alert-dismissable" th:classappend="'alert-danger'">
            <span th:text="'You must activate your email'">Test</span>
        </div>
    </th:block>

    <form class="form-narrow form-horizontal" action="#" th:action="@{/aim/add}" method="post" th:object="${aimForm}">
        <th:block th:if="${#fields.hasErrors('${aimForm.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
        </th:block>
        <fieldset>
            <legend>Создание цели</legend>
            <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                <label for="name" class="col-lg-4 control-label">Название цели</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="name" placeholder="Название цели" th:field="*{name}" autocomplete="off"/>
                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Поле не может быть пустым</span>
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                <label for="name" class="col-lg-4 control-label">Описание цели</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="description" placeholder="Описание"
                           th:field="*{description}" autocomplete="off"/>
                    <span class="help-block" th:if="${#fields.hasErrors('description')}"
                          th:errors="*{description}">Некорректное описание</span>
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('priority')}? 'has-error'">
                <label for="priority" class="col-lg-4 control-label">Приоритет</label>
                <div class="col-lg-8">
                    <select id="priority" class="form-control" th:field="*{priority}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <legend>Добавление шагов</legend>
            <div class="form-group" th:with="stepFormList=*{steps}">
                <div class="form-group" th:if="${#lists.isEmpty(stepFormList)}">
                    <span th:text="'Шагов пока нету'"></span>
                </div>
                <button type="submit" name="addRow" class="btn btn-default">Добавить шаг</button>
            </div>
            <div th:each="stepForm, rowStat : *{steps}">
                <!--<ul>-->
                <div class="form-group">
                    <label for="difficult" class="col-lg-4 control-label">Сложность</label>
                    <div class="col-lg-8">
                        <select id="difficult" class="form-control" th:field="*{steps[__${rowStat.index}__].difficult}">
                            <option th:each="difficult : ${T(com.programmer.entity.Difficult).values()}"
                                    th:value="${difficult}"
                                    th:text="${difficult.value}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="specification" class="col-lg-4 control-label">Описание шага</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="specification" placeholder="Описание шага" th:field="*{steps[__${rowStat.index}__].specification}" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" name="removeRow" class="btn btn-default" th:value="${rowStat.index}">Удалить шаг</button>
                </div>
            </div>

            <legend>Сохранить цель</legend>
            <div class="form-group">
                <div class="col-lg-offset-8 col-lg-8">
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>