<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:format="http://www.w3.org/1999/xhtml">
<div th:fragment="aim-template(aim)">
    <div class="aim_info">
        <span th:text="${aim.name}">Имя</span>
        <span th:text="${aim.description}">Инфо</span>
        <ul>
            <li class="steps_li" th:each="step : ${aim.steps}">
                <div class="step_info">
                    <span th:text="${step.difficult}">Сложность</span>
                    <span th:text="${step.specification}">Инфо</span>
                </div>
            </li>
        </ul>
    </div>
</div>