<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{view.index.title}">Настройки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/aims-edit.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script th:src="@{/resources/js/aim.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <th:block th:if="${message != null}">
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <th:block th:if="${programmer.role == 'ROLE_UNACTIVE'}">
        <div th:fragment="alert (type, message)" class="alert alert-dismissable" th:classappend="'alert-danger'">
            <span th:text="'You must activate your email'">Test</span>
        </div>
    </th:block>

    <div class="container_aims">
        <th:block th:if="${programmer.aims != null}">
            <div th:each="two_aims : ${T(com.google.common.collect.Lists).partition(programmer.aims, 2)}" class="row-fluid">
                <div th:each="aim, rowStat : ${two_aims}" class="span6">
                    <div th:replace="programmer/aim_template::aim-edit-template(${aim}, ${rowStat.index})"/>
                </div>
            </div>
        </th:block>
        <div th:if="${#lists.isEmpty(programmer.aims)}">
            <span>Нет целей</span>
        </div>
    </div>

</div>
</body>
</html>