<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal fade" id="contactModal" role="dialog" th:fragment="contact">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Контакты</h4>
            </div>
            <div class="modal-body">
                <p>
                    Телефон: 0637619730<br/>
                    VK: <a href="http://vk.com/n_yashchenko">Nikolay Yashchenko</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>
</body>