<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container" th:each="str, rowStat : ${list}">
    <form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/}" th:object="${str}">
        <div class="form-group">
            <label for="string" class="col-lg-2 control-label">String</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="string" placeholder="String" th:field="${str}"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
<section>
    <h2>Add Subject Group</h2>
    <form action="#" th:action="@{/test}" th:object="${aimForm}" method="POST">
        <p><input type="text" th:field="*{name}" placeholder="Name..."/></p>
        <h3>Options</h3>
        <button type="submit" name="addOption">Add Option</button>
        <table>
            <tr th:each="stepForm, rowStat : *{stepForms}">
                <td><input type="text" th:field="*{stepForms[__${rowStat.index}__].specification}" placeholder="Option..."/></td>
            </tr>
        </table>
        <button type="submit">Add</button>
    </form>
</section>
</body>
</html>