<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:format="http://www.w3.org/1999/xhtml">
<div th:fragment="aim-template(aim)">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Цель</h3></div>
            <div class="panel-body">
                <div class="aim_info">
                    <span th:text="'Название цели:' + ${aim.name}">Имя</span><br>
                    <span th:text="'Описание: ' + ${aim.description}">Инфо</span>
                    <ul>
                        <li class="steps_li" th:each="step, rowStat : ${aim.steps}">
                            <div class="step_info">
                                <h4 th:text="'Шаг ' + ${rowStat.count}"></h4>
                                <span th:text="'Сложность: ' + ${step.difficult}">Сложность</span><br>
                                <span th:text="'Инфо: ' + ${step.specification}">Инфо</span><br>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:id="${'aim' + aim.id}" th:fragment="aim-edit-template(aim, index)">
    <div class="col-md-4">
        <input id="aim_id" type="hidden" th:value="${aim.id}">
        <div class="panel panel-default">
            <div class="panel-heading"
                 th:href="'/aim/edit/' + ${aim.id}"><h3>Цель</h3></div>
            <div class="panel-body">
                <div class="aim_info">
                    <span th:text="'Название цели:' + ${aim.name}">Имя</span><br>
                    <span th:text="'Описание: ' + ${aim.description}">Инфо</span>
                    <ul>
                        <li class="steps_li" th:each="step, rowStat : ${aim.steps}">
                            <div class="step_info">
                                <h4 th:text="'Шаг ' + ${rowStat.count}"></h4>
                                <span th:text="'Сложность: ' + ${step.difficult}">Сложность</span><br>
                                <span th:text="'Инфо: ' + ${step.specification}">Инфо</span><br>
                            </div>
                        </li>
                    </ul>
                    <button id="edit_aim" class="btn btn-default" th:onclick="'javascript:location.href=\'/aim/edit/' + ${aim.id} + '\';'">Редактировать</button>
                    <button id="delete_aim" class="btn btn-default">Удалить цель</button>
                </div>
            </div>
        </div>
    </div>
</div>